// SPDX-License-Identifier: GPL-2.0

/ {
	compatible = "nvidia,p3768-0000";

	aliases {
		serial0 = &tcu;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	bus@0 {
		serial@31d0000 {
			current-speed = <115200>;
			status = "okay";
		};

		pwm@32a0000 {
			assigned-clocks = <&bpmp TEGRA234_CLK_PWM3>;
			assigned-clock-parents = <&bpmp TEGRA234_CLK_PLLP_OUT0>;
			status = "okay";
		};

        spi@3210000{ /* SPI0 */
			status = "okay";
            can@0 {
                compatible = "microchip,mcp251xfd";
                reg = <0x0>;
                // interrupt-parent = <&gpio>; // Use the GPIO controller
                // interrupts = <TEGRA234_MAIN_GPIO(H, 0) IRQ_TYPE_LEVEL_LOW>; // GPIO3_PZ.07 is SPI0_CS1 for MCP2518 interrupt
                // interrupts-extended = <&gpio TEGRA234_MAIN_GPIO(H, 0) IRQ_TYPE_LEVEL_LOW>;
				spi-max-frequency = <20000000>; // Set the max frequency to 20MHz
                clocks = <&clk20m>; // Use the 20MHz clock

				interrupt-parent = <&gpio>;
				interrupts = <TEGRA234_MAIN_GPIO(H, 0) IRQ_TYPE_LEVEL_LOW>;
				controller-data {
					nvidia,enable-hw-based-cs;
					nvidia,cs-setup-clk-count = <0x1e>;
					nvidia,cs-hold-clk-count = <0x1e>;
					nvidia,rx-clk-tap-delay = <0x1f>;
					nvidia,tx-clk-tap-delay = <0x0>;
				};
            };
        };


		/* SPI-CAN controller 2 */
		spi@3230000{
			status = "okay";
			can@0 {
				compatible = "microchip,mcp251xfd";
				reg = <0x0>;
				clocks = <&clk20m>;
				spi-max-frequency = <20000000>;
				// TODO: check this GPIO(N, 1) and GPIO(H, 0) maybe swapped
				// interrupts = <&gpio TEGRA234_MAIN_GPIO(N, 1) IRQ_TYPE_EDGE_FALLING>;
				
				// interrupts-extended = <&gpio TEGRA234_MAIN_GPIO(N, 1) IRQ_TYPE_LEVEL_LOW>;
				
				interrupt-parent = <&gpio>;
				interrupts = <TEGRA234_MAIN_GPIO(N, 1) IRQ_TYPE_LEVEL_LOW>;
				controller-data {
					nvidia,enable-hw-based-cs;
					nvidia,cs-setup-clk-count = <0x1e>;
					nvidia,cs-hold-clk-count = <0x1e>;
					nvidia,rx-clk-tap-delay = <0x1f>;
					nvidia,tx-clk-tap-delay = <0x0>;
				};
				
				// nvidia,enable-hw-based-cs;
			};
		};

		/* Configuring the pinmux Setting of I2C and DP1_AUX */
		miscreg-dpaux@00100000 {

                compatible = "nvidia,tegra194-misc-dpaux-padctl";
                reg = <0x0 0x00100000 0x0 0xf000>;
                dpaux_default: pinmux@0 {

                        dpaux0_pins {
                                pins = "dpaux-0";
                                function = "i2c";
                        };
                };
        };

        i2c@31b0000 {
                pinctrl-names = "default";
                pinctrl-0 = <&dpaux_default>;
        };

		padctl@3520000 {
			status = "okay";

			pads {
				usb2 {
					lanes {
						usb2-0 {
							nvidia,function = "xusb";
							status = "okay";
						};

						usb2-1 {
							nvidia,function = "xusb";
							status = "okay";
						};

						usb2-2 {
							nvidia,function = "xusb";
							status = "okay";
						};
					};
				};

				usb3 {
					lanes {
						usb3-0 {
							nvidia,function = "xusb";
							status = "okay";
						};

						usb3-1 {
							nvidia,function = "xusb";
							status = "okay";
						};
						
						usb3-2 {
							nvidia,function = "xusb";
							status = "okay";
						};
					};
				};
			};

			ports {
				/* recovery port + USB0 */
				usb2-0 {
					mode = "otg";
					status = "okay";
					vbus-supply = <&vdd_5v0_sys>;
					usb-role-switch;
					connector {
						compatible = "usb-b-connector", "gpio-usb-b-connector";
 						label = "micro-USB";
 						vbus-gpio = <&gpio TEGRA234_MAIN_GPIO(Z, 1) GPIO_ACTIVE_LOW>;
						id-gpio = <&gpio TEGRA234_MAIN_GPIO(Z, 7) GPIO_ACTIVE_LOW>;
 					};
				};

				/* USB1 */
				usb2-1 {
					mode = "host";
					vbus-supply = <&vdd_5v0_sys>;
					status = "okay";
				};

				/* USB2 */
				usb2-2 {
					mode = "host";
					vbus-supply = <&vdd_5v0_sys>;
					status = "okay";
				};

				/* USB0SS */
				usb3-0 {
					nvidia,usb2-companion = <0>;
					status = "okay";
				};

				/* USB1SS */
				usb3-1 {
					nvidia,usb2-companion = <1>;
					status = "okay";
				};
				
				/* USB2SS */
				usb3-2 {
					nvidia,usb2-companion = <2>;
					status = "okay";
				};
			};
		};

		usb@3550000 {
			status = "okay";
			phys = <&{/bus@0/padctl@3520000/pads/usb2/lanes/usb2-0}>;
			phy-names = "usb2-0";
		};

		usb@3610000 {
			status = "okay";

			phys = <&{/bus@0/padctl@3520000/pads/usb2/lanes/usb2-0}>,
			       <&{/bus@0/padctl@3520000/pads/usb2/lanes/usb2-1}>,
			       <&{/bus@0/padctl@3520000/pads/usb2/lanes/usb2-2}>,
			       <&{/bus@0/padctl@3520000/pads/usb3/lanes/usb3-0}>,
			       <&{/bus@0/padctl@3520000/pads/usb3/lanes/usb3-1}>,
			       <&{/bus@0/padctl@3520000/pads/usb3/lanes/usb3-2}>;
			phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-0",
				    "usb3-1", "usb3-2";
		};

		/* C8 - Ethernet */
		pcie@140a0000 {
			status = "okay";

			num-lanes = <2>;

			phys = <&p2u_gbe_2>, <&p2u_gbe_3>;
			phy-names = "p2u-0", "p2u-1";

			vddio-pex-ctl-supply = <&vdd_1v8_ao>;
			vpcie3v3-supply = <&vdd_3v3_pcie>;
		};

		/* C1 - M.2 Key-E */
		pcie@14100000 {
			status = "okay";

			vddio-pex-ctl-supply = <&vdd_1v8_ao>;

			phys = <&p2u_hsio_3>;
			phy-names = "p2u-0";
		};

		/* C4 - M.2 Key-M */
		pcie@14160000 {
			status = "okay";

			vddio-pex-ctl-supply = <&vdd_1v8_ao>;

			phys = <&p2u_hsio_4>, <&p2u_hsio_5>, <&p2u_hsio_6>,
			       <&p2u_hsio_7>;
			phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";
		};

		/* C7 - M.2 Key-M */
		pcie@141e0000 {
			status = "okay";

			vddio-pex-ctl-supply = <&vdd_1v8_ao>;

			phys = <&p2u_gbe_0>, <&p2u_gbe_1>;
			phy-names = "p2u-0", "p2u-1";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-force-recovery {
			label = "Force Recovery";
			gpios = <&gpio TEGRA234_MAIN_GPIO(G, 0) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <BTN_1>;
		};

		key-power {
			label = "Power";
			gpios = <&gpio_aon TEGRA234_AON_GPIO(EE, 4) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_POWER>;
			wakeup-event-action = <EV_ACT_ASSERTED>;
			wakeup-source;
		};

		key-suspend {
			label = "Suspend";
			gpios = <&gpio TEGRA234_MAIN_GPIO(G, 2) GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_KEY>;
			linux,code = <KEY_SLEEP>;
		};
	};

	clocks {
            // 20MHz external crystal oscillator
            clk20m: mcp251x_osc {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <20000000>;
                clock-accuracy = <100>;
                clock-output-names = "mcp251x_clk20m";
            };
    };


	fan: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&pwm3 0 45334>;
		#cooling-cells = <2>;
	};

	vdd_1v8_sys: regulator-vdd-1v8-sys {
		compatible = "regulator-fixed";
		regulator-name = "VDD_1V8_SYS";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vdd_1v1_hub: regulator-vdd-1v1-hub {
		compatible = "regulator-fixed";
		regulator-name = "VDD_AV10_HUB";
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vdd_5v0_sys>;
		regulator-always-on;
	};

	vdd_3v3_pcie: regulator-vdd-3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3_PCIE";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio_aon TEGRA234_AON_GPIO(AA, 5) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	serial {
		status = "okay";
	};
};
